<h1>Editing friend</h1>



<br>

<div class="bg-gray-100 w-7/12 mx-auto p-6 rounded-md"> 
<%= render "form", friend: @friend %>
</div>

<div>
  <%= link_to "Show this friend", @friend %> |
  <%= link_to "Back to friends", friends_path %>
</div>
